*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    display: grid;
    justify-content: center;
}
main p {
    margin: auto;
    margin-top: 8px;
}