:root {
  --cor-Forte: #1b357e;
  --cor-Texto: #1351d8;
}

footer {
  background-color: var(--cor-Forte);
  color: white;
  padding: 5px;
  margin-top: auto;
}
footer a {
  text-decoration: none;
  font-size: 0.8em;
  color: white;
}
footer .container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerRedes {
  display: flex;
  align-items: center;
  gap: 5px;
}
.containerRedes img {
  height: 30px;
}
.containerRedes img:hover {
  height: 35px;
  cursor: pointer;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }
  footer p a {
    display: flex;
    text-align: center;
  }
}
