:root {
  --cor-Forte: #1b357e;
  --cor-Texto: #1351d8;
}

footer {
  background-color: var(--cor-Forte);
  color: white;
  padding: 5px;
  margin-top: auto;
}
a {
  color: var(--cor-Texto);
}

footer .container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerRedes {
  display: flex;
  align-items: center;
  gap: 5px;
}
.containerRedes img {
  height: 30px;
}
.containerRedes img:hover {
  height: 35px;
  cursor: pointer;
}
