:root {
  --cor-Forte: #1b357e;
  --cor-Texto: #1351d8;
}

main p {
  margin: auto;
  margin-top: 8px;
  font-size: large;
}
main .imagemPrincipal {
  max-width: 100vw;
  max-height: 100%;
}
main .imagemPrincipal:hover {
  box-shadow: 0 0 1px 0 var(--cor-Forte);
}
main .imagemPrincipal img {
  width: 100%;
  height: 100%;
  border-radius: 0px 0 5px 5px;
}

@media (max-width: 768px) {
  .imagemPrincipal {
    display: flex;
    justify-content: center;
    margin: 15px auto;
  }

  .imagemPrincipal img {
    width: 100vw;
    height: auto;
  }

  main p {
    text-align: center;
  }
}